#artistCard {
    /* width: min(200px, 50%, 50vw); */
    aspect-ratio: 5/6;
    max-width: 200px;
    flex-grow: 1;
    padding: 2px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 2px;
}

#artistCard:hover {
    background-color: rgba(95, 95, 95, 0.647);
}

#artistCover {
    object-fit: contain;
    max-width: 100%;
}