#artistCard {
    /* width: min(200px, 50%, 50vw); */
    width: 200px;
    margin: auto;
    padding: 2px;
}

#artistCard:hover {
    background-color: rgba(95, 95, 95, 0.647);
}

#artistCover {
    object-fit: contain;
    max-width: 100%;
}