#headphonesIcon {
    width: 30px;
    justify-content: center;
    align-self: center;
    padding: 2px;
}

#navItem {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 10px;
    color: white;
    cursor: pointer;
}

#navItem:hover {
    background-color: rgba(95, 95, 95, 0.647);
}